<link rel="stylesheet" href="<%= assetPath('/css/profile_page.css') %>" />

<div id="main-body">
  <div class="flex height-main">
    <div class="col-profile" id="profile">
      <div class="center">
        <h1>Profile</h1>
        <div id="profileBox"><%- include('profile') %></div>
      </div>
    </div>
    <div class="col-posts" id="posts">
      <div class="flex flex-center-horizontal">
        <div class="heading">
          <div data-bs-toggle="modal" data-bs-target="#modalAddPost">
            <i class="fa-regular fa-square-plus"></i>
          </div>
          <h1>Posts</h1>
        </div>
        <div id="allPosts"></div>
      </div>
    </div>
    <div class="col-friends" id="friends">
      <div class="flex flex-center-horizontal">
        <h1>Friends</h1>
        <%- include('friends-list') %>
      </div>
    </div>
  </div>
</div>

<script src="<%= assetPath('/js/profile_page.js') %>"></script>
