<link rel="stylesheet" href="<%= assetPath('/css/home_page.css') %>" />
<link rel="stylesheet" href="<%= assetPath('/css/form.css') %>" />
<div id="main-body" class="container-fluid">
  <div class="flex-center center">
    <div class="flex-center center col-60">
      <div class="img-box">
        <img src="<%= assetPath('/images/home-page.jpg') %>" alt="" />
      </div>
    </div>

    <div class="flex-center center col-40">
      <form class="form-box" action="" method="post">
        <div class="form-heading">SIGN UP</div>
        <div class="form-item">
          <label for="email" class="form-label">Email-id</label>
          <input type="email" class="form-control" id="email" name="email" />
        </div>
        <div class="form-item">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="form-item">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <div class="form-item">
          <label for="confirm_password" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirm_password"
            name="confirm_password"
            required
          />
        </div>
        <div class="form-item form-button">
          <button type="submit" class="btn btn-success">SIGN UP</button>
          <div>
            <span>Already a Member?<a href="/user/sign-in">SIGN IN</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
